.editor-con {
  padding: 1rem;
  background-color: #212121;
  height: 100%;
}

.editor {
  height: 100%;
}

.comapre-input-container {
  padding-bottom: 1rem;
}

.frm {
  display: flex;
}

nz-form-item {
  flex: 1 !important;
}

nz-form-item.btn {
  flex: none !important;
  margin-right: 0;
}

nz-form-item.select-lang {
  min-width: 10rem;
  flex: 0 0 1rem !important;
}
