
<div class="comapre-input-container">
    <form nz-form [nzLayout]="'inline'" class="frm" [formGroup]="compareCofigFG">
        <nz-form-item>
            <nz-form-control nzErrorTip="Please select source directory!">
                <nz-input-group>
                    <input formControlName="sourcePath" readonly (click)="onSourceClick('source')" nz-input
                        placeholder="Select Source Directory" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please select Target directory!">
                <nz-input-group>
                    <input formControlName="targetPath" nz-input readonly (click)="onSourceClick('target')"
                        placeholder="Select Target Directory" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="select-lang">
            <nz-form-control>
                <nz-select nzShowSearch nzAllowClear formControlName="language">
                    <nz-option [nzValue]="lan" [nzLabel]="lan" *ngFor="let lan of allLanguages"></nz-option>
                </nz-select>

            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="btn">
            <nz-form-control>
                <button nz-button nzType="default" nzGhost class="clear-btn" (click)="clear()">Clear</button>
            </nz-form-control>
        </nz-form-item>

    </form>
</div>
<div class="editor-con">
    <ngx-monaco-diff-editor class="editor" [options]="options" [originalModel]="originalModel"
        [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>
</div>