.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
}
.app-name {
  padding-top: 0.4rem;
  padding-right: 1rem;
}

[nz-menu] {
  line-height: 64px;
}

nz-header {
  background-color: #141414;
  border-bottom: 1px solid #303030;
  display: flex;
}

nz-layout {
  height: 100vh;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 1rem;
}

nz-footer {
  text-align: center;
  color: #757575;
  padding: 0px 50px 10px;
}

.f-path {
  flex: 1;
}

.res-txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.inner-content {
  border: solid 1px #424242;
  padding: 24px;
  min-height: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nz-form-item {
  flex: 1 !important;
}
nz-form-item.btn {
  flex: none !important;
  margin-right: 0;
}

.file-list-wrapper {
  display: flex;
  column-gap: 1rem;
  padding-top: 1rem;
  flex: 1 1;
  height: 99%;
}

.clear-btn {
  margin-left: 0.5rem;
}

.f-list {
  flex: 1;
}

nz-list {
  overflow-y: auto;
  height: 97%;
}

.source-list {
}

nz-list-header {
  background-color: #212121;
}

nz-list-footer {
  background-color: #141414;
}

nz-list-header.res {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
